/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {

    /* Nav */
    nav {
        width: 100%;
        height: 57px;
        /* gap: 100px; */
    }

    nav ul {
        gap: 15px;
    }

    .logo {
        width: 100px;
    }

    /* Section - 01 */
    #section-01 {
        padding-left: 35px;
    }

    /* Section - 02 */
    .about {
        font-size: 70px;
    }

    .about-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .main-div {
        gap: 20px;
    }

    .part-01 {
        width: 100px;
        font-size: 10px;
    }

    .part-01 h2 {
        padding-bottom: 30px;
    }

    .second {
        gap: 15px;
    }

    .part-02 {
        padding-top: 2px;
    }

    .part-02 p {
        font-size: 13px;
        padding-bottom: 32px;
    }

    .me {
        width: 215px;
        height: 250px;
    }

    /* Section - 03 */

    .resume {
        font-size: 70px;
    }

    .resume-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .box01 {
        width: 330px;
    }

    .boxes {
        gap: 20px;
    }

    .box {
        width: 260px;
    }

    .secondbtn {
        left: 205px;
    }

    /* Section - 04 */
    #section-04 {
        height: 350px;
    }

    .col {
        margin: 0 3%;
    }

    .skill li {
        width: 130px;
    }

    /* Section - 05 */

    .project {
        font-size: 70px;
    }

    .project-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .img-container-01 {
        gap: 0px;
        flex-wrap: wrap;
    }

    .img-container {
        margin-bottom: 20px;
    }

    .image {
        width: 400px;
        height: 250px;
    }

    /* Section - 06 */

    .contact {
        font-size: 70px;
    }

    .contact-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .icon-container {
        flex-wrap: wrap;
        /* gap: 30px;
        
        */
    }
}


@media (max-width: 768px) {

    /* Nav */
    nav {
        width: 100%;
        height: 57px;
        /* gap: 100px; */
    }

    nav ul {
        gap: 15px;
    }

    .logo {
        width: 100px;
    }

    /* Section - 01 */
    #section-01 {
        padding-left: 35px;
    }

    /* Section - 02 */
    .about {
        font-size: 70px;
    }

    .about-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .main-div {
        gap: 20px;
    }

    .part-01 {
        width: 100px;
        font-size: 10px;
    }

    .part-01 h2 {
        padding-bottom: 30px;
    }

    .second {
        gap: 15px;
    }

    .part-02 {
        padding-top: 2px;
    }

    .part-02 p {
        font-size: 13px;
        padding-bottom: 32px;
    }

    .me {
        width: 215px;
        height: 250px;
    }

    /* Section - 03 */

    .resume {
        font-size: 70px;
    }

    .resume-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .box01 {
        width: 320px;
    }

    .boxes {
        gap: 20px;
    }

    .box {
        width: 260px;
    }

    .secondbtn {
        left: 205px;
    }

    /* Section - 04 */
    #section-04 {
        height: 350px;
    }

    .col {
        margin: 0 3%;
    }

    .skill li {
        width: 130px;
    }

    /* Section - 05 */

    .project {
        font-size: 70px;
    }

    .project-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .img-container-01 {
        gap: 0px;
        flex-wrap: wrap;
    }

    .img-container {
        margin-bottom: 20px;
    }

    .image {
        width: 400px;
        height: 250px;
    }

    /* Section - 06 */

    .contact {
        font-size: 70px;
    }

    .contact-01 {
        font-size: 35px;
        left: 210px;
        top: 50px;
    }

    .icon-container {
        flex-wrap: wrap;
        /* gap: 30px;
        
        */
    }
}